# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Database and output files
*.sqlite3
*.bin
output/
archive/
testing/
db/
frontend/db/

# Lock files (optional)
uv.lock
